<div class="app-container">
  <div class="page-content">
    <div class="jumbotron">
      <div class="display-4">CRUD</div>
      <p class="mt-5">
        Create Read Update Delete
      </p>
      <hr class="my-4">
      <div class="exercise__item">
        <h2 id="exercise-1" class="exercise__item--title">Prerequisites</h2>
        <ul>
          <li>
            <a href="https://git-scm.com/download/win" class="ref-btn-link">Git</a>
          </li>
          <li>
            <a href="https://nodejs.org/es/download/" class="ref-btn-link">Node & NPM</a>
          </li>
          <li>
              <a href="https://www.getpostman.com/" class="ref-btn-link">Postman</a>
          </li>
          <li>
              <a href="https://www.mongodb.com/" class="ref-btn-link">MongoDB</a>
              or
              <a href="https://mlab.com/" class="ref-btn-link">mLab account</a>
          </li>
        </ul>
      </div>
      <hr class="my-4">
      <app-exercises></app-exercises>
    </div>
  </div>
</div>